.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(255,255,255,1),rgba(255, 255, 255, 0.712)), url('https://fthmb.tqn.com/Ui-M2LgU0fCOcAkZE_NLarxjFlE=/768x0/filters:no_upscale()/88621482-F-56a693fb5f9b58b7d0e3ad09.jpg');
  background-size: cover;
  font-family: 'Quattrocento Sans', sans-serif;
}

.weather {
  background-color: crimson;
  padding: 10px;
  border-radius: 5px;
  border: solid crimson 1px;
  color: white;
  margin-bottom: 20px;
<<<<<<< HEAD
  margin-top: 20px;
}
=======
  margin-top: 40px;
}
>>>>>>> 37dc2c251a4872e5133bf0b01a280d6b3ff309f0
