.slider {
    width: 75%
}

.rangeslider-horizontal .rangeslider__fill {
    background-color: rgb(68, 186, 227);
}

.rangeslider-horizontal .rangeslider__handle {
    content: none;
}

.rangeslider-horizontal .rangeslider__handle {
    width: 10px;
}

.rangeslider-horizontal .rangeslider__handle:after {
    content: none;
}

.value {
    text-align: center;
    margin-bottom: 10px;
}